#Splash
  %h3 Welcome to MedLog, a simple and secure way to keep track of your health

.container
  .span-20
    .span-3
      %br
    .span-17.last
      #SplashText
        %li
          + Conveniently record symptoms whenever they appear and track how they change over time
        %li
          + Quickly log images, audio recordings, or text descriptions that describe what's happening
        %li
          + Top-notch security: Everything uploaded to MedLog is anonymized and encrypted

        %br
        %br
        %br
        %br
      #LearnMore
        %p Coming Soon!
