$grey-color: #797979;
$main-width: 790px;


@mixin round($radius: 5px) {
  -moz-border-radius:    $radius;
  -webkit-border-radius: $radius;
  border-radius:         $radius;
}

ul{
  .hmenu {
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
  }
  .hmenu li {
    display: inline;
  }
}

.round {
  @include round;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.container {
  width: $main-width;
}

body {
}

header {
  padding-top: 20px;
  height: 75px;

  nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  @include round;
  text-align: center;
  color: $grey-color;
  float: right;
  }

  h4{
  }
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  font-size: 120%;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

h1 {
	color: $grey-color;
   }

h2 {
	color: $grey-color;
   }

h3{
	color: $grey-color;
   }

/* Links */

a {
  color: $grey-color;
  text-decoration: none;
}

a:hover {
  color: $grey-color;
  text-decoration: underline;
}

a:visited {
}

/* Navigation */

nav h4 {
  margin: .5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: normal;
  color: $grey-color;
}

nav ul li a:visited {
  color: $grey-color;
}

nav ul li a:hover {
  text-decoration: underline;
}

span.confirm {
  margin:0.5em 0 0 25%;
}

#admin_edit {
  margin-bottom: 1em;
}

#stickyfooter {
	visibility: visible;
	bottom: 10px;
	position: absolute;
	height: 30px; /* must be the same value as height */
	width: $main-width;
	clear: both;
	text-align: center; /* up to you */
	color: $grey-color;
}

#Splash
{
text-align: center;
}

#noshare {
  background-color: #FCC;
  border: solid 1px darken(#FCC, 15%);
  text-align: center;
}
