// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#static{
  
  #aboutpage {
  padding-left: 10px;

  }
  
#Splash{
text-align: center;
color: #F62217;  

}    

#LearnMore{
  padding-left: 200px;
}
  

#SplashText{
text-align: left;

li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

li:first-letter {
  color: #F62217; 
  font-weight: bold;
  vertical-align: 8%;
}
  
}  


} //close #static

