%header
  %nav
    %h4= greeting current_user
    %ul.hmenu
      %li= link_to "About", about_path
      |
      = render 'devise/menu/login_items'
      |
      = render 'devise/menu/registration_items'
      
      
      
      
     
      
